{% case page.layout %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 首页-左侧-边栏广告 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:150px;height:450px"
     data-ad-client="ca-pub-3828096221540362"
     data-ad-slot="2757227995"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% when 'index' %}
  {% capture page_class %}page-home{% endcapture %}
{% when 'post' %}
  {% capture page_class %}page-post-detail{% endcapture %}
{% when 'page' %}
  {% capture page_class %}page-post-detail{% endcapture %}
{% when 'archive' %}
  {% capture page_class %}page-archive{% endcapture %}
{% when 'schedule' %}
  {% capture page_class %}page-post-detail page-calendar{% endcapture %}
{% endcase %}
