{% assign posts = site.posts %}
{% if site.paginate > 0 %}{% assign posts = paginator.posts %}{% endif %}

<section id="posts" class="posts-expand">
  {% for post in posts %}
    {% assign is_index = true %}
    {% include _macro/post.html %}
  {% endfor %}
</section>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 首页-左侧-边栏广告 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:150px;height:450px"
     data-ad-client="ca-pub-3828096221540362"
     data-ad-slot="2757227995"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% include _partials/pagination.html %}
