---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'AladengodmanVicky',
    repo: 'https://github.com/AladengodmanVicky/AladengodmanVicky.github.io',
    oauth: {
        client_id: '26d8764b8c3a6bf91ca0',
        client_secret: '7b0c764eba3b05db24f205984631fa242da9168c',
    },
});
gitment.render('gitmentContainer');
</script>
