---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    owner: 'AladengodmanVicky',
    repo: 'AladengodmanVicky.github.io',
    oauth: {
        client_id: '5b2a2486ac80b2c5256e',
        client_secret: 'e14e40378b56481a8a1e2421ddb0cca931f7c3c0',
    },
});
gitment.render('gitmentContainer');
</script>
