---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'AladengodmanVicky',
    repo: 'https://github.com/AladengodmanVicky/AladengodmanVicky.github.io',
    oauth: {
        client_id: 'd050ab4ed2185b91de50',
        client_secret: '29c01281c1f2599f0f7b264a2cc9e556d8abe540',
    },
});
gitment.render('gitmentContainer');
</script>
